@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-v12-latin-400.woff2") format("woff2"),
    url("/fonts/inter-v12-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/inter-v12-latin-500.woff2") format("woff2"),
    url("/fonts/inter-v12-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-v12-latin-700.woff2") format("woff2"),
    url("/fonts/inter-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/nunito-sans-v15-latin-400.woff2") format("woff2"),
    url("/fonts/nunito-sans-v15-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/nunito-sans-v15-latin-500.woff2") format("woff2"),
    url("/fonts/nunito-sans-v15-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/nunito-sans-v15-latin-700.woff2") format("woff2"),
    url("/fonts/nunito-sans-v15-latin-700.woff") format("woff");
}
