$colors: (
  neutral: (
    100: #ffffff,
    200: #f8f8f8,
    400: #9c9c9c,
    900: #212121,
  ),
  primary: (
    400: #150080,
    500: #10005e,
    600: #2d264b,
  ),
  accent: (
    400: #d08642,
    500: #b36b2d,
    600: #8c4e1a,
  ),
);
